@import "../../styles/colors";
@import "../../styles/components";
@import "../../styles/searchResults";

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: #918581;
    // color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: #f9f5f3;
      color: #f38e82;
      font-weight: bold;
    }

    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.45em;
        height: 0.45em;
        border-right: 0.2em solid #f38e82;
        border-top: 0.2em solid #f38e82;
        font-weight: bold;
        color: #f38e82;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.2em solid #918581;
        border-top: 0.2em solid #918581;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
